h1
{
    text-align: center;
}

footer
{
    padding-top: 5%;
}

h2
{
    margin-left: 3%;
}

p
{
    margin-left: 2%;
    margin-right: 2%;
}

h4
{
    margin-left: 3%;
}

.ubicacion
{
    text-align: center;
    padding-top: 5%;
}

.rowg-3
{
    margin-left: 3%;
}